i {
  padding-right: 4px;
}
mat-toolbar {
  color: rgb(16, 82, 82);
  /* width: 80%; */
  /* margin: auto; */
}
.container {
  width: 60%;
  margin: auto;
}
.blue {
  color: rgb(16, 82, 82);
  font-weight: bold;
}
mat-icon {
  color: rgb(16, 82, 82);
  font-size: 20px;
  padding-bottom: 35px;
}
.left {
  padding-left: 6vw;
}
.below {
  display: flex;
  width: 80%;
  margin: auto;
}
.card1 {
  width: 30%;
}
.card2 {
  width: 30%;
}
.card3 {
  width: 40%;
}
.card {
  margin: 2px;
  /* width: 33%; */
}
.ed {
  color: rgb(16, 82, 82);
  font-size: 20px;
  padding-left: 15px;
}
.ex {
  font-size: 20px;
  padding-left: 20px;
  color: rgb(16, 82, 82);
}
a:hover {
  cursor: pointer;
}
th {
  color: rgb(16, 82, 82);
}

@media screen and (max-width: 1400px) {
  .below {
    display: unset;
  }
  .card {
    width: 80%;
    margin: auto;
  }
}
.head {
  font-weight: bold;
  color: #333c44;
  margin: auto;
}

@media screen and (max-width: 427px) {
  mat-toolbar {
    display: none;
  }
}
@media screen and (min-width: 427px) {
  .head {
    display: none;
  }
}

.main {
  color: #333c44;
  font-weight: bold;
}
.link {
  margin: auto;
  width: 100%;
}
