<mat-card>
  <mat-toolbar>
    Edit About
  </mat-toolbar>

  <form>
    <mat-form-field>
      <textarea matInput rows="8"></textarea>
    </mat-form-field>

    <button
      mat-raised-button
      color="primary">
      Update About
    </button>

  </form>
</mat-card>

<br><br>

<div class="container">
  <form enctype="multipart/form-data">

    <input type="file" name="photo" ng2FileSelect [uploader]="uploader">
    <!-- <input type="file" name="photo"> -->

    <br><br>

    <button type="submit" class=" btn btn-primary"
    (click)="uploader.uploadAll()">Upload Post</button>

    <!-- <button type="submit" class=" btn btn-primary">Upload Post</button> -->
  </form>
</div>
